.header-container{
    float: center;
    font-family: "Fredericka the Great", serif;
}

.about-h1{
    text-align: center;
    animation-duration: 0.6s;
    animation-name: Slide;
    font-size: 50px;
    font-weight: 400;
    transform: translateX(20%);
    text-transform: capitalize;
}

.h1-span {
    /* display: inline-block; */
    animation-duration: 1s;
    animation-name: grow-shrink;
    transform: translate(0px, 14px);
}

.about-h1-p{
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Fredericka the Great", serif;
    font-kerning: auto;
}

/* About Me */
.about-container{
    animation-duration: 0.6s;
    animation-name: Slide;
}

.about-me{
    background-color: rgba(255, 253, 249, 0.073);
    float: right;
    text-align: center;
    padding: 180px 100px;
    margin: 20px;
    border-radius: 10px ;
    transform: translateY(420px);
    box-shadow: 0 0 4px 0 ;
    backdrop-filter: blur(10px);
}

.about-me:hover{
    transform: translateY(100px);
    transition: ease-in-out 0.5s;
}

.about-me-h4{
    color: rgb(255, 255, 255);
    transform: translateY(-165px);
    font-family: "Fredericka the Great", serif;
    font-kerning: auto;
}

.about-p{
    color: rgb(255, 255, 255);
    font-size: 24px;
}


/* animation */
@keyframes Slide {
    0%{
        transform: translateY(80vw);
        /* translate: 80vw 0; */
        /* scale: 200% 1; */
    }
    100%{
        translate: 0 0;
        /* scale: 100% 1; */
    }
}

@keyframes grow-shrink{
    50% {
        scale: 100%;
    }

    75% {
        scale: 120%;
        color: rgb(203, 235, 61);
    }
}