.header-container{
    float: center;
    position: relative;
    top: 15px;
}

.about-h1{
    font-family: "Jersey 25", sans-serif;
    text-align: left;
    animation-duration: 0.6s;
    animation-name: Slide;
    font-size: 160px;
    text-transform: capitalize;
    padding: 20px;
}

.about-h1-p{
    font-family: "Jersey 10", sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    font-kerning: auto;
    font-weight: bold;
    padding: 40px 0;
}

/* About Me */
.about-container{
    padding-bottom: 20%;
}
.about-me{
    position: relative;
    float: center;
    text-align: right;
    padding: 20px 10px;
    z-index: 11;
}

.about-me-h4{
    font-family: "Jersey 25", sans-serif;
    font-kerning: auto;
    animation-duration: 0.6s;
    animation-name: Slide;
}

.about-p{
    font-size: 24px;
    animation-duration: 0.6s;
    animation-name: Slide
}

.border-slide{
    animation-duration: 1.6s;
    animation-name: Slide-left;
    transition: ease-in-out;
    border: 1px solid white;
    border-radius: 5px 20px 5px 20px;
    margin: 1.8% -.2% 0 45%;
}
.border-slide-about{
    animation-duration: 1.4s;
    animation-name: Slide-left;
    transition: ease-in-out;
    border: 1px solid white;
    border-radius: 5px 20px 5px 20px;
    margin: 1.8% -.2% 0 65%;
    text-align: left;
}

/* animation */
@keyframes Slide {
    0%{
        transform: translateY(80vw);
        translate: 80vw 0;
        scale: 200% 1;
    }
    100%{
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes Slide-up-right {
    0%{
        transform: translateY(80vw);
    }
    100%{
        translate: 0 0;
    }
}

@keyframes Slide-left {
    0%{
        transform: translateX(-80vw);
    }
    100%{
        translate: 0 0;
    }
}

@keyframes grow-shrink{
    50% {
        scale: 100%;
    }

    75% {
        scale: 120%;
        color: rgb(203, 235, 61);
    }
}