.header-container{
    float: center;
    font-family: "Unica One", sans-serif;
}

.about-h1{
    text-align: center;
    animation-duration: 0.6s;
    animation-name: Slide;
    font-size: 50px;
    font-weight: 400;
    transform: translateX(20%);
}

.h1-span {
    display: inline-block;
    animation-duration: 1s;
    animation-name: grow-shrink;
    transform: translate(0, 10px);
    font-weight: bold;
}
.about-h1-p{
    font-size: 24px;
}

/* About Me */
.container {
  display: flex; /* or inline-flex */
}

.about-me{
    background-color: rgb(209, 247, 123);
    float: right;
    padding: 180px 120px;
    margin: 40px;
    border-radius: 10px;
}

.about-me-h4{
    color: black;
    font-style: italic;
}


/* animation */
@keyframes Slide {
    0%{
        transform: translateY(80vw);
        /* translate: 80vw 0; */
        scale: 200% 1;
    }
    100%{
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes grow-shrink{
    50% {
        scale: 100%;
    }

    75% {
        scale: 120%;
        color: rgb(203, 235, 61);
    }
}