.front{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    height: 100vh; /* Full viewport height */
    background-size: 100% auto;
    zoom: 110%;
}
.slide-left{
    animation-duration: 2.2s;
    animation-name: Slide-left;
}

@keyframes Slide-left {
    0%{
        transform: translateX(-80vw);
    }
    100%{
        translate: 0 0;
    }
}