.gallery{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 12;
    justify-content: center;
    top: 20px;
}

.gal-con{
    position: relative;
    margin: 20px;
    border: 1px solid #ccc;
}

/* animation */