.gallery{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 12;
}

.gal-con{
    position: relative;
    margin: 20px;
    border: 1px solid #ccc;
    width: 25%;
}

/* animation */
.slide-left{
    animation-duration: 2.2s;
    animation-name: Slide-left;
}

@keyframes Slide-left {
    0%{
        transform: translateX(-80vw);
    }
    100%{
        translate: 0 0;
    }
}