.about-img1{
    /* gradient 1 */
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    z-index: 1;
    height: 100vh; /* Full viewport height */
}

.about-img2{
    /* girl shadow */
    animation-duration: 1.8s;
    animation-name: Slide-left;
    border-radius: 20px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 10px;
    z-index: 2;
    height: 100vh; /* Full viewport height */
}

.about-img3{
    /* girl */
    animation-duration: 1.6s;
    animation-name: Slide-left;
    position: absolute;
    top: 10px;
    z-index: 3;
    height: 100vh; /* Full viewport height */
}

.about-img4{
    /* gradient 2 */
    animation-duration: 3s;
    animation-name: Slide-up-right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    zoom: 111.5%;
    z-index: 4;
    height: 100vh; /* Full viewport height */
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: no-repeat;
}

.about-img5{
    /* multiply leaf shadow */
    animation-duration: 2s;
    animation-name: Slide-left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    mix-blend-mode: multiply;
    height: 100vh; /* Full viewport height */
}

.about-img6{
    /* color-doge leaf shadow */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    mix-blend-mode: color-dodge;
    height: 100vh; /* Full viewport height */
}

.about-img7{
    /* normal leaf shadow */
    animation-duration: 2.2s;
    animation-name: Slide-left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    height: 100vh; /* Full viewport height */
}

.about-img8{
    /* color-doge light*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    mix-blend-mode: color-dodge;
    height: 100vh; /* Full viewport height */
    background-size: 100% auto;
    zoom: 110%;
}

@media (max-width: 768px) {
    .about-img1{
        /* gradient 1 */
        height: 80vh; /* Full viewport height */
    }

    .about-img2{
        /* girl shadow */
        top: 30vh;
        z-index: 2;
        height: 50vh; /* Full viewport height */
    }

    .about-img3{
        /* girl */
        animation-duration: 1.6s;
        animation-name: Slide-left;
        position: absolute;
        top: 30vh;
        z-index: 3;
        height: 50vh; /* Full viewport height */
    }

    .about-img4{
        /* gradient 2 */
        height: 80vh; /* Full viewport height */
        zoom: 130%;
        animation-name: Slide-up-right;
        animation-duration: 0.6s;
    }

    .about-img5{
        /* multiply leaf shadow */
        height: 40vh; /* Full viewport height */
    }

    .about-img6{
        /* color-doge leaf shadow */
        height: 50vh; /* Full viewport height */
    }

    .about-img7{
        /* normal leaf shadow */
        height: 40vh; /* Full viewport height */
    }

    .about-img8{
        /* color-doge light*/
        height: 100vh; /* Full viewport height */
        background-size: 100% auto;
        zoom: 110%;
    }
}