/* Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Unica+One&display=swap'); 
  .unica-one-regular {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  .josefin-sans{
    font-family: "Josefin Sans", sans-serif;
  }

  *{
    overflow: hidden;
    /* firefox */
    scrollbar-width: none;
  }

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* navigation */
nav {
  flex: 1;  
  flex-direction: row;
  padding: 20;
  font-family: "Unica One", sans-serif;
}

nav ul{
  list-style: none;
  padding: 20px;
  margin: 0px;
  overflow: hidden;
  background-color: transparent;
}

nav ul li{
  text-align: center;
  padding: 14px 16px;
  float: right;
}

.nav-color{
  color: white;
  text-decoration: none;
}

.nav-color:hover{
  color: rgb(203, 235, 61);
}
.Nav-elements{
  float: left;
}

/* div */
div{
  margin: 0;
  padding: 10px;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
