/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&display=swap');
.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
  overflow: hidden;
  display: fixed;
  /* firefox */
  scrollbar-width: none;
  margin: 0;
  padding:0;
  /* removes highlight on text and images */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus{
  outline: none !important;
}

body {
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Jersey 10", sans-serif;
  padding-bottom: 50%;
  background: url('./pages/Img/background.jpg') center center / cover no-repeat fixed;
}

.background{

  position: absolute;
  top: 0;
  left: 0;
  background-position: no-repeat;
  background-attachment: fixed;
  mix-blend-mode: normal;
  z-index: -1;
}

/* navigation */
nav {
  flex-direction: row;
  border: 1px solid #ffffff;
  border-radius: 5px 20px 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Jersey 25", sans-serif;
  position: sticky !important;
  z-index: 10;
  animation-duration: 1.6s;
  animation-name: Slide-down;
}

nav ul{
  list-style: none;
  overflow: hidden;
}

nav ul li{
  text-align: center;
  padding: 16px 40px;
  float: right;
}

.nav-color{
  color: white;
  text-decoration: none;
}

.Nav-elements{
  float: left;
}

/* div */
div{
  margin: 10px;
  padding: 10px;
}

@media (min-width: 1024px) {
  .background {
    background: url('./pages/Img/background.jpg') center center / cover no-repeat fixed;
  }
}

/* animation */
@keyframes Slide-down{
    0%{
        transform: translateY(-80vw);
    }
    100%{
        translate: 0;
    }
}
