/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.hedvig-letters-serif {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

  *{
    overflow: hidden;
    /* firefox */
    scrollbar-width: none;
  }

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Hedvig Letters Serif", serif;
  margin: 0;
  padding: 0;
}

/* navigation */
nav {
  flex: 1;  
  flex-direction: row;
  padding: 20;
  font-family: "Fredericka the Great", serif;
}

nav ul{
  list-style: none;
  padding: 20px;
  margin: 0px;
  overflow: hidden;
  background-color: transparent;
}

nav ul li{
  text-align: center;
  padding: 14px 16px;
  float: right;
}

.nav-color{
  color: white;
  text-decoration: none;
}

.nav-upper{
  text-transform: uppercase;
}

.nav-color:hover{
  color: rgb(203, 235, 61);
}
.Nav-elements{
  float: left;

}

/* div */
div{
  margin: 0;
  padding: 10px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
