/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* navigation */
/* nav {
  flex: 1;  
  flex-direction: row;
  padding: 20;
} */

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-color: ;for debate */
}

nav ul li{
  float: right;
}

.Logo{
  float: left;
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
